.background {
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 90vh;
    opacity: 45%;
}

.br {
    display: flex;
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    font-size: 5rem;
    font-weight:bolder;
    opacity: 100%;
    z-index: 100;
}

@media (max-width: 900px) {
    .br {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .br {
        font-size: 3rem;
    }
}

.br-title {
    margin: 1rem
}

.main-image {
    background-image: url('../assets/placeholder-background.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 80%;
    z-index: -100;
}    