.plop {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    font-size: 7rem;
    font-weight:bolder;
    opacity: 100%;
}

.br-title {
    margin: 1rem;
}

.main-image {
    background-image: url('../assets/placeholder-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 80%;
}    