.swiper {
    height: 500px;
    width: 80%;
    margin-top: 100px;
}

@media (max-width: 900px) {
    .swiper {
        width: 100%
    }
}

.swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: rgb(255, 255, 255);
    cursor: grab;
}

.slide-container {
    text-align: center;
}

.swiper-button-next, .swiper-button-prev {
    color:rgb(46, 48, 48) !important;
}

.swiper-slide h1, .swiper-slide p {
    margin: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.swiper-slide h1 {
    font-size: 3rem;
    max-width: 700px;
}

@media (max-width:900px) {
    .swiper-slide h1 {
        font-size: 2rem;
        max-width: 400px;
    }
}

@media (max-width:300px) {
    .swiper-slide h1 {
        max-width: 200px;
    }
}

.swiper-slide p {
    font-size: 1rem;
    color: rgb(121, 121, 121);
}

.quote-icon {
    font-size: 2rem;
}

.swiper-pagination-bullet-active {
    background-color:rgb(46, 48, 48) !important;
}