.about-page {
  display: flex;
  height: 100vh;
  padding-top: 80px;
}

.about-page > * {
  flex-basis: 100%;
}

.content-left {
  text-align: center;
  margin-inline: auto;
  align-items: center;
  margin-top: 80px;
  padding: 0 20px;
}

.content-left h3 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.content-left h1 {
  font-size: 3rem;
  font-family: var(--font-title);
}

.content-left hr {
  width: 30%;
  margin: 10px auto 0;
}

.content-left p {
  max-width: 40rem;
  padding: 40px 0;
  line-height: 1.6;
  margin-inline: auto;
}

.content-right {
  background-color: var(--clr-primary-95opacity);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-right h1 {
  text-align: center;
  max-width: 80%;
  font-size: 4rem;
  color: var(--clr-accent);
}

@media (max-width: 1045px) {
  .about-page {
    display: table-cell;
  }

  .content-right h1 {
    padding: 40px;
  }
}

@media (max-width: 500px) {
  .content-right h1 {
    font-size: 2rem;
    max-width: 90%;
  }
}

@media (max-width: 350px) {
  .content-right h1 {
    font-size: 1.5rem;
  }

  .content-left h1 {
    font-size: 2rem;
  }

  .content-left h3 {
    font-size: 1rem;
  }

  .content-left p {
    font-size: 12px;
  }
}
